/*importing font from google */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

/*setting body to full width, no margin, and setting the font for the whole page*/
body{
	height:100%;
	width:100%;
	margin:0;
	font-family: 'Quicksand', sans-serif;
}

/*Setting background of the navbar to transparent, later when hovering over other stuff we wiill change that.*/
.navbar{
	top:2vh;
	transition: all 1s;
}

/*changing nav link stuff*/
.nav-link{
	font-weight: 600;
}
/*adding my icon that I made online*/
.mano_icon{
	height:50px;
	width:40px;
}

/*setting header image*/
header{
	background-image: url("https://i.postimg.cc/9QBKBw7g/Background.jpg");
	background-size: cover;
	background-attachment: fixed;
	height:100vh;
	width:100vw;
	transition: all 2s;
}

/*Changing the photo to a more dark one to change the opacity without changing opacity of child tags*/
header:hover{
	background-image: url("https://i.postimg.cc/13yY4RjG/Background-d.jpg");
}

/*Placing the text in the center, also the button, and changing color on hover  */
header>div{
	position: absolute;
	left:35vw;
	top:15vh;
	transition:all 1s;
}

header>div>button{
/*	margin-left:5vw;*/
}

header:hover div{
	color:white;
}

header:hover + nav{
	color:white;
	background-color:rgba(255, 255, 255, 0.4);
}

nav:hover{
	background-color:rgba(255, 255, 255, 0.4);
}

/*photo*/

/*Header*/
section{
	position:relative;
}
#photo_div{
	display:flex;
	/* justify-content: space-around; */
	height:60vh;
	/* width: 50vw; */
	margin:10vh auto;
	margin-bottom:0;
	margin-left: 20vw;
}

#photo_div>img{
	margin-top:2vh;
	margin-right:3vh;
	height:45vh;
	border:1px solid white;
	border-radius:70%;
	padding:0;
	box-shadow: 20px 20px 40px grey;
}

#photo_div>div>h1{
	margin-top:0;
	margin-bottom: 0;
	font-size:40px;
	font-weight: 300;
}

#above_h1{
	margin-bottom:1vh;
	color:grey;
	opacity: 0.8;
	text-transform: italic;
}

#under_h1{
	margin-top:2vh;
	margin-left:3vw;
}

/*Image gallery*/
#carouselExampleRide{
	display: block;
	margin-left: 20vw;
	margin-bottom: 30vh;
	height:50vh;
	width:60vw;
}

/*changing placement of title of gallery*/
section + h3{
	margin-left: 20vw;
	width: fit-content;
}

/*adding link to the summary next to my name*/
#under_h1>a{
	color:black;
}

/*styling hr*/
hr{
	margin-top: 10vh;
}

/*Styling contact*/


footer{
	display: inline-flex;
	justify-content: center;
	height:7vh;
	width:100%;
}

footer>span>a>img{
	margin-top: 1vh;
	margin-left:3vh;
	height: 5vh;
}


/*this will be the values when scrolling a certain distance*/
#changed-navbar{
	position:fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left:0;

	width:8vw;
	height: 60vh;
}

nav{
	transition: all 0.8s !important;
}

/*navbar items*/
.nav_item{
	display:inline-block;
	margin-left: 2vw;
	margin-top: 3vh ;
	width: fit-content;
	height:2vh;
}

.nav_item:hover{
	border-style: solid;
	border-width: 3px;
	border-image-slice: 1;
	border-image-source:  linear-gradient(to left ,  rgba(78,9,121,1) , rgba(0,255,209,1)) ;
	border-top: none;
	border-left: none;
	border-right: none;
}


.nav_item>a{
	text-decoration: none;
	color:#FAF9F6;
}

/*icon at the navbar*/
#icon{
	position: absolute;
	top:1vh !important;
	left:1vw;
	margin-left: 0;
	margin-top: 0;

	width:100px;
	height:100px;

	background-image:url("https://iili.io/H1M8u7S.png") ;
	background-repeat: no-repeat;
	background-size: contain;
}


#pokemon{
	position: relative;
	top:-8vh;
	zoom: 0.6;
}


@media only screen and (max-width: 700px) {
	.fixed-top{
		left:-15vw;
	}
	.nav-link{
		margin-left: 1vw;
	}
	.flex-sm-column{
		position: relative;
		left:-5vw;
		top:3vh;
	}
	#photo_div{
		display: block;
		margin-left: 3vw;
	}
	#photo_div>img{
		height: 20vh;
		width: 25vw;
		border:1px solid white;
		border-radius:70%;
		padding:0;
		box-shadow: 20px 20px 40px grey;
		margin-left: 20vw;
	}
	#carouselExampleRide{
		margin: 0;
		margin-top: 5vh;
		width:100%;
	}

}
